
.buttons{
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-left: 160px;
  
}
.text {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-left: 140px;
  margin-top: -30px;
  color: #aaa;
}
.counter {
  margin-left: 150px;
}
.btn {
  border:none;
	border-radius:2px;
	box-shadow:1px 1px 3px #aaa;
	background:#fff;
	font:bold 13px Arial;
  color:#555;
  width: 60px;
}



